@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}
body {
  background: url("./assets/bg.jpg") no-repeat;
  background-size: cover;
}
.locker {
  width: 300px;
  height: 400px;
  background-color: rgba(16 18 27 / 40%);
  backdrop-filter: blur(20px);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
}
.row button {
  border: none;
  outline: none;
  background-color: rgba(16, 18, 27, 0);
  backdrop-filter: blur(10px);
  cursor: pointer;
  font-size: 1.2em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: rgb(223, 223, 223);
}
.row {
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row:nth-child(1) {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15px;
}
.dots {
  width: 100%;
  justify-content: center;
}
.dots i {
  color: rgba(255, 255, 255, 0.336);
  margin: 0 5px;
}
.row:nth-child(5) {
  justify-content: center;
}
@keyframes dotanim {
  0% {
    transform: translateX(-5%);
  }
  35% {
    transform: translateX(5%);
  }
  65% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(5%);
  }
}

/* Todo Page */
.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 600px;
  background-color: rgba(16 18 27 / 40%);
  backdrop-filter: blur(20px);
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
.container h1 {
  margin: 10px 0;
}
input {
  width: 300px;
  height: 40px;
  background: black;
  border: none;
  outline: none;
  padding-left: 10px;
  background-color: rgba(16, 18, 27, 0);
  backdrop-filter: blur(10px);
  margin-right: 10px;
  border-radius: 5px;
}
.addBtn,
.delBtn,
.doneBtn {
  width: 90px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9em;
}
.addBtn {
  background-color: rgba(16, 18, 27, 0);
  backdrop-filter: blur(10px);
  color: rgb(223, 223, 223);
}
.delBtn {
  background: #ff3e3e;
  color: rgb(224, 224, 224);
  margin-top: 20px;
}
.doneBtn {
  background-color: rgba(16, 18, 27, 0.753);
  color: rgb(224, 224, 224);
  margin-top: 20px;
  margin-right: 10px;
}
/* todos */
.todos {
  width: 80%;
  height: 350px;
  margin: 50px 0;
}

/* todoList */
.todoList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
}
.lineThrough {
  text-decoration: line-through;
}
.Card {
  max-height: 150px;
  margin: 0 20px 20px 20px;
  border-radius: 5px;
  background-color: rgba(16, 18, 27, 0);
  backdrop-filter: blur(10px);
  padding: 10px 30px;
}
.Card p {
  margin-top: 10px;
}

/* Responsive */
@media (max-width: 1150px) {
  body {
    width: 100%;
    height: 100vh;
    background: #8e2de2; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #4a00e0,
      #8e2de2
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #4a00e0,
      #8e2de2
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
@media (max-width: 500px) {
  .container .inputBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  .inputBox input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .addBtn {
    width: 100%;
  }
  .todos {
    width: 100%;
  }
}
